version: '3.9'

services:
  database:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres16J
      POSTGRES_DB: analytics
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data